@charset "utf-8";

/* 아웃로그인 */
.ol {position:relative;margin:0 0 10px;}
.ol h2 {width:0;height:0;overflow:hidden}

/* 관리자 전용 버튼 */
#mamber_info{height:24px; padding:20px 20px 18px 20px; background:#ba9765}
#mamber_info strong{display:inline-block;color:#fff;font-size:1.2em;}
#mamber_info .btn_admin{background:url('img/set_btn.gif') 50% 50% no-repeat; display:inline-block; text-decoration:none; float:right;
                        border:none;padding:0;margin:0;width:25px; height:25px; }

#ol_before .login_box{padding:20px 20px 10px 20px;}
#ol_before input[type=text], #ol_before input[type=password] {display:block;margin-bottom:10px;padding:0;width:100%;height:1.8em;border:1px solid #ba9765;background-color:#fff !important;vertical-align:middle;line-height:1.8em}
#ol_before input[type=submit], #ol_password_lost{width:48%; height:2.3em;background:#ba9765;color:#fff;border-radius:5px; border:0;letter-spacing:-0.1em;vertical-align:top;cursor:pointer}
#ol_password_lost{display:inline-block; text-align:center; line-height:32px; text-decoration:none}
#ol_svc {margin:10px 0;text-align:left;}
#ol_svc a {display:inline-block;margin:0 0 0 5px;color:#000;text-decoration:none;vertical-align:middle}

#ol_after_private {margin:0;padding:0;list-style:none;}
#ol_after_private:after {display:block;visibility:hidden;clear:both;content:""}
#ol_after_private li {float:left;}
#ol_after_memo {width:30%}
#ol_after_pt {width:40%}
#ol_after_scrap {width:30%}
#ol_after_private a {display:block;height:5em;background:#fff;color:#7c7c7c;text-decoration:none;text-align:center;line-height:5em}
#ol_after_private a strong{height:1em;line-height:12px;color:#fda100;}
#ol_after_private li:nth-of-type(1) a ,#ol_after_private li:nth-of-type(2) a{border-right:1px solid #dde4e9; border-bottom:1px solid #dde4e9}
#ol_after_private li:nth-of-type(3) a {border-right:0px none;border-bottom:1px solid #dde4e9}
#ol_after_ft {margin-top:5px;text-align:center; padding:10px 20px 0px 20px}
#ol_after_ft a {width:49%; height:2.3em;display:inline-block;background:#ba9765;color:#fff;border-radius:5px;text-decoration:none;text-align:center;line-height:2em}*/
